body {
  background-color: white;
  color: black;
  text-align: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}
div {
  outline: black;
}
.small-content {
  text-align: center;
}
#author-name {
  font-size: 10px;
}

a {
  text-align: center;
}
