/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: blue;
}
.container {
  background-color: green;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  flex-wrap: wrap;
} */

* {
  background-color: black;
  color: white;
}
.nav-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
button {
  background-color: blue;
}
